doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Document
  style.
    body {
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    }
    a {
    color: white
    }
    a:hover {
    color: dodgerblue
    }
h1 Vidly
p A simple NodeJS application for manage renting movies in a store.
h3 API Usage
ul
  li
    h4 /api/{routeName} : Testing API directly
ul
  li
    h4
      | /api-docs : 
      a(href='https://node-vidly.herokuapp.com/api-docs', target='_blank') Testing API using swagger
h3 App Permission
ul
  li
    h4
      a(href='https://www.draw.io/?lightbox=1&layers=1&nav=1&title=Vidly%20Flow#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1q_NFOzfAkz8LpuZBimXEKgORCFFaK1dM%26export%3Ddownload', target='_blank') Show flow chart
